Host github.com-webserver
        Hostname github.com
        IdentityFile=/home/user/.ssh/cfpdxserver

Host github.com-client
        Hostname github.com
        IdentityFile=/home/user/.ssh/cfpdxclient
